{# TODO Faire le style de la page #}
{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1>Bienvenue sur votre compte {{ app.user.getFullName }}</h1>
    <hr>
    - <a href="">Modifier mes Informations personnelles</a><br>
    - Appuyer <a href="">ici</a> pour ajouter votre steam id
{% endblock %}
