{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form)  }}
{% endblock %}

