{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    {% if users == null %}
        <h1>Pas de statistique trouvé pour ce joueur !</h1>
    {% else %}


    {% endif %}


{% endblock %}

